In [15]:
import re
import os
import yaml
import requests
import pandas as pd

from io import StringIO
from yaml import Loader

In [91]:
params = yaml.load(open("../params.yaml", 'r'), Loader=Loader)

In [4]:
with requests.Session() as session: 
    for link in params['data_links']:
        print(link)
        download = session.get(link)
        
        df = pd.read_csv(
            StringIO(download.content.decode(encoding='utf-8', errors='replace')),
            encoding= 'unicode_escape',
            low_memory=False
        )

        if 'vehicle' in link:
            file_type = 'vehicles'
        elif 'casualty' in link:
            file_type = 'casualties'
        elif 'attendant' in link:
            file_type = 'collisions'
            
        display(df.head())
        print(df.shape)

        year = re.findall("20\d{2}", link)[0]
        
        df.to_csv(f'../data/raw-data/{file_type}-{year}.csv', index=False)

https://content.tfl.gov.uk/jan-dec-2021-gla-data-extract-vehicle.csv

,GLA Area 2021,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,_Collision Id,Borough Name,Borough Number,Easting,Northing,_Vehicle Id,Vehicle Type Banded,Vehicle Type,Vehicle Manoeuvres,Vehicle Skidding and Overturning,Vehicle Restricted Lane,Location of Vehicle at First Impact,Vehicle Hit Object in Carriageway,Vehicle Leaving Carriageway,Vehicle Hit Object Off Carriageway,First Point of Impact,Journey Purpose,Driver Gender,Driver Age,Driver age (Banded)
1,1210287148,Barnet,30,521508,193079,1,Car,Car,Going Ahead Right Bend,Skid/Over,On Main CW - Not Rest.,Jct App,Hit Parked Veh,Did Not Leave,None,Front Hit First,Other/Not Known,Male,19,17-24
2,1210287148,Barnet,30,521508,193079,2,Car,Car,Parked,No Skidding/Overturn,On Main CW - Not Rest.,Jct App,None,Did Not Leave,None,Front Hit First,Unknown,Not Traced,NaN,Unknown
3,1210287148,Barnet,30,521508,193079,3,Car,Car,Parked,No Skidding/Overturn,On Main CW - Not Rest.,Jct App,None,Did Not Leave,None,Back Hit First,Unknown,Not Traced,NaN,Unknown
4,1210287149,Tower Hamlets,5,535379,180783,1,Car,Car,Going Ahead Other,No Skidding/Overturn,On Main CW - Not Rest.,Jct Mid,None,Did Not Leave,None,Front Hit First,Other/Not Known,Male,32,25-34

(42833, 20)
https://content.tfl.gov.uk/jan-dec-2021-gla-data-extract-casualty.csv

,GLA area 2021,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,_Collision Id,Borough Name,Borough Number,Easting,Northing,_Casualty Id,_Casualty Class,Casualty Gender,Casualty Age (5 Year Bands),Casualty Age,_Casualty Count,_Casualty Severity,Pedestrian Location,Pedestrian Movement,Casualty Mode of Travel
1,1210287148,Barnet,30,521508,193079,1,Driver/Rider,Male,15-19,19,1,Slight,Not Applicable,Not Applicable,Car
2,1210287149,Tower Hamlets,5,535379,180783,1,Passenger,Male,25-29,25,1,Slight,Not Applicable,Not Applicable,Car
3,1210287149,Tower Hamlets,5,535379,180783,2,Driver/Rider,Male,20-24,21,1,Slight,Not Applicable,Not Applicable,Car
4,1210287149,Tower Hamlets,5,535379,180783,3,Passenger,Male,15-19,17,1,Serious,Not Applicable,Not Applicable,Car

(26673, 15)
https://content.tfl.gov.uk/jan-dec-2021-gla-data-extract-attendant.csv

,GLA AREA 2021,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,_Collision Id,Borough Name,Borough Number,Easting,Northing,Collision Location,_Collision Severity,_Casualty Count,_Vehicle Count,_Collision Date,...,Junction Control,Second Road Class,Second Road Number,Pedestrian Crossing Facilities,Light Conditions,Weather Details,Road Surface Condition,Special Conditions at Site,Carriageway Hazards,Place Collision Reported
1,1210287148,Barnet,30,521508,193079,"On Tretawn Gardens, 15 Metres South Of The Jun...",Slight,1,3,01/01/2021 00:00,...,Give Way/Uncontrolled,Unclassified,0,No Xing Facility In 50m,Dark - Street Lights Present & Lit,Fog/Mist,Road-Frost/Ice,Traf Sig Out,None,Police - At Scene
2,1210287149,Tower Hamlets,5,535379,180783,"On The Highway, Near The Junction With Glamis ...",Serious,3,2,01/01/2021 00:00,...,Auto Sig,A,1204,Pedn Phase At ATS,Dark - Street Lights Present & Lit,Fine,Road-Dry,None,None,Police - At Scene
3,1210287151,Lambeth,9,529701,170398,"On Streatham Vale, 5 Metres West Of The Juncti...",Serious,4,2,01/01/2021 00:00,...,Auto Sig,C,0,Pedn Phase At ATS,Dark - Street Lights Present & Lit,Fine,Road-Dry,None,None,Police - At Scene
4,1210287155,Kensington & Chelsea,12,525312,178385,"On Warwick Road, Near The Junction With Trebov...",Fatal,1,1,01/01/2021 00:00,...,Give Way/Uncontrolled,Unclassified,0,Pelican Or Similar,Dark - Street Lights Present & Lit,Fine,Road-Dry,None,None,Police - At Scene

(23128, 28)
https://content.tfl.gov.uk/2020-gla-data-extract-vehicle.csv

,Accident Ref.,Borough,Boro,Easting,Northing,Vehicle Ref.,Vehicle Type,Vehicle Type (Banded),Vehicle Manoeuvres,Vehicle Skidding,...,Junction Location,Object in C/W,Veh. Leaving C/W,Veh. off C/W,Veh. Impact,VJNYPURP DECODED,Driver Sex,Driver Age,Driver Age (Banded),
0,1200240171,CITY OF LONDON,0,531188,181609,1,08 TAXI,4 TAXI,07 TURNING LEFT,0 NO SKIDDING/OVERTURN,...,1 JCT APP,00 NONE,0 DID NOT LEAVE,00 NONE,1 FRONT HIT FIRST,1 JNY PART OF WORK,1 MALE,70.0,65+,NaN
1,1200240171,CITY OF LONDON,0,531188,181609,2,03 M/C 50-125CC,2 POWERED 2 WHEELER,04 SLOWING OR STOPPING,1 SKIDDED,...,1 JCT APP,00 NONE,0 DID NOT LEAVE,00 NONE,2 BACK HIT FIRST,1 JNY PART OF WORK,1 MALE,30.0,25-34,NaN
2,1200246170,CITY OF LONDON,0,533386,181909,1,01 PEDAL CYCLE,1 PEDAL CYCLE,99 UNKNOWN (S/R),9 UNKNOWN (S/R),...,9 UNKNOWN (S/R),99 UNKNOWN (S/R),9 UNKNOWN (S/R),99 UNKNOWN (S/R),9 UNKNOWN (S/R),5 OTHER/NOT KNOWN,1 MALE,29.0,25-34,NaN
3,1200246170,CITY OF LONDON,0,533386,181909,2,01 PEDAL CYCLE,1 PEDAL CYCLE,99 UNKNOWN (S/R),9 UNKNOWN (S/R),...,9 UNKNOWN (S/R),12 HIT ANIMAL (NOT RID-HORSE),9 UNKNOWN (S/R),99 UNKNOWN (S/R),9 UNKNOWN (S/R),6 UNKNOWN,3 NOT TRACED,NaN,UNKNOWN,NaN
4,1200248479,CITY OF LONDON,0,533359,181760,1,01 PEDAL CYCLE,1 PEDAL CYCLE,99 UNKNOWN (S/R),9 UNKNOWN (S/R),...,9 UNKNOWN (S/R),99 UNKNOWN (S/R),9 UNKNOWN (S/R),99 UNKNOWN (S/R),9 UNKNOWN (S/R),2 COMM TO/FROM WORK,1 MALE,30.0,25-34,NaN

(38790, 21)
https://content.tfl.gov.uk/2020-gla-data-extract-casualty.csv

,Accident Ref.,Borough,Boro,Easting,Northing,CREFNO,Casualty Class,Casualty Sex,Casualty Age (Banded),Casualty Age,No. of Casualties,Casualty Severity,Ped. Location,Ped. Movement,Mode of Travel,
0,1200240171,CITY OF LONDON,0,531188,181609,1,1 DRIVER/RIDER,1 MALE,25-59,30.0,1,3 SLIGHT,'-2 NOT APPLICABLE,'-2 NOT APPLICABLE,3 POWERED 2 WHEELER,NaN
1,1200246170,CITY OF LONDON,0,533386,181909,1,1 DRIVER/RIDER,1 MALE,25-59,29.0,1,3 SLIGHT,'-2 NOT APPLICABLE,'-2 NOT APPLICABLE,2 PEDAL CYCLE,NaN
2,1200246170,CITY OF LONDON,0,533386,181909,2,1 DRIVER/RIDER,'-1 UNKNOWN,UNKNOWN,NaN,1,3 SLIGHT,'-2 NOT APPLICABLE,'-2 NOT APPLICABLE,2 PEDAL CYCLE,NaN
3,1200248479,CITY OF LONDON,0,533359,181760,1,1 DRIVER/RIDER,1 MALE,25-59,30.0,1,3 SLIGHT,'-2 NOT APPLICABLE,'-2 NOT APPLICABLE,2 PEDAL CYCLE,NaN
4,1200251644,CITY OF LONDON,0,532122,181853,1,1 DRIVER/RIDER,2 FEMALE,25-59,27.0,1,3 SLIGHT,'-2 NOT APPLICABLE,'-2 NOT APPLICABLE,2 PEDAL CYCLE,NaN

(24345, 16)
https://content.tfl.gov.uk/2020-gla-data-extract-attendant.csv

,Accident Ref,Borough,Boro,Easting,Northing,Location,Accident Severity,No. of Casualties in Acc.,No. of Vehicles in Acc.,Accident Date,...,Road Class 2,Road No 2,Ped. Crossing Decoded,Light Condtions (Banded),Weather,Road Surface,Special Conditions,C/W Hazard,ADATES_FULL,APOLICER_DECODED
0,1200240171,CITY OF LONDON,0,531188,181609,"On Holborn, near the junction with Brooke Stre...",3 SLIGHT,1,2,05/03/2020,...,UNCLASSIFIED,0,0 NO XING FACILITY IN 50M,2 DAYLIGHT,5 RAINING/HIGH WINDS,2 ROAD-WET,0 NONE,0 NONE,05/03/2020 12:40,1 POLICE - AT SCENE
1,1200246170,CITY OF LONDON,0,533386,181909,"On Bishopsgate, near the junction with Spital ...",3 SLIGHT,2,2,24/04/2020,...,C,0,9 UNKNOWN (S/R),2 DAYLIGHT,9 UNKNOWN,9 UNKNOWN (S/R),9 UNKNOWN (S/R),9 UNKNOWN (S/R),24/04/2020 17:45,3 SELF COMPLETION
2,1200248479,CITY OF LONDON,0,533359,181760,Location unkown: On Bishops Square,3 SLIGHT,1,2,21/05/2020,...,UNCLASSIFIED,0,9 UNKNOWN (S/R),2 DAYLIGHT,1 FINE,1 ROAD-DRY,0 NONE,9 UNKNOWN (S/R),21/05/2020 08:35,3 SELF COMPLETION
3,1200251644,CITY OF LONDON,0,532122,181853,Location uncertain Aldersgate Street / Goswel...,3 SLIGHT,1,2,14/06/2020,...,NaN,0,0 NO XING FACILITY IN 50M,2 DAYLIGHT,1 FINE,1 ROAD-DRY,0 NONE,0 NONE,14/06/2020 15:02,1 POLICE - AT SCENE
4,1200252887,CITY OF LONDON,0,533617,180132,"On Tower Bridge Road, near the junction with Q...",3 SLIGHT,1,2,20/06/2020,...,A,100,9 UNKNOWN (S/R),1 DARK,1 FINE,1 ROAD-DRY,9 UNKNOWN (S/R),0 NONE,20/06/2020 00:20,3 SELF COMPLETION

(21001, 29)
https://content.tfl.gov.uk/2019-gla-data-extract-attendant.csv

,Accident Ref,Borough,Boro,Easting,Northing,Location,Accident Severity,No. of Casualties in Acc.,No. of Vehicles in Acc.,Accident Date,...,Road Class 2,Road No 2,Ped. Crossing Decoded,Light Condtions (Banded),Weather,Road Surface,Special Conditions,C/W Hazard,ADATES_FULL,APOLICER_DECODED
0,1190128300,WESTMINSTER,1,528218,180407,"On Park Lane, 20 metres north of the junction ...",3 SLIGHT,3,2,19/02/2019,...,A,4202,5 PEDN PHASE AT ATS,2 DAYLIGHT,1 FINE,1 ROAD-DRY,0 NONE,0 NONE,19/02/2019 17:50,3 SELF COMPLETION
1,1190152270,LAMBETH,9,530219,172463,"NFL Streatham High Road, jw Chalcot Rd",3 SLIGHT,1,2,15/01/2019,...,0,0,9 UNKNOWN (S/R),1 DARK,1 FINE,1 ROAD-DRY,0 NONE,0 NONE,15/01/2019 21:45,3 SELF COMPLETION
2,1190155191,CAMDEN,2,530222,182543,"On Judd Street, near the junction with Leight ...",3 SLIGHT,1,2,01/01/2019,...,6,0,0 NO XING FACILITY IN 50M,1 DARK,1 FINE,1 ROAD-DRY,0 NONE,0 NONE,01/01/2019 01:50,1 POLICE - AT SCENE
3,1190155192,CAMDEN,2,525531,184605,"On Broadhurst Gardens, 10 metres east of the j...",2 SERIOUS,1,1,01/01/2019,...,B,510,0 NO XING FACILITY IN 50M,1 DARK,1 FINE,1 ROAD-DRY,0 NONE,0 NONE,01/01/2019 01:20,1 POLICE - AT SCENE
4,1190155194,BRENT,28,524920,184004,"On Willesden Lane, near the junction with Alde...",3 SLIGHT,2,2,01/01/2019,...,6,0,0 NO XING FACILITY IN 50M,1 DARK,1 FINE,1 ROAD-DRY,0 NONE,0 NONE,01/01/2019 00:40,1 POLICE - AT SCENE

(25313, 29)
https://content.tfl.gov.uk/2019-gla-data-extract-casualty.csv

,AREFNO,Borough,Boro,Easting,Northing,CREFNO,Casualty Class,Casualty Sex,Casualty Age (Banded),Casualty Age,No. of Casualties,Casualty Severity,Ped Location,Ped Movement,Mode of Travel
0,1190128300,WESTMINSTER,1,528218,180407,1,1 DRIVER/RIDER,1 MALE,25-59,58.0,3,3 SLIGHT,'-2 NOT APPLICABLE,'-2 NOT APPLICABLE,4 CAR
1,1190128300,WESTMINSTER,1,528218,180407,2,2 PASSENGER,2 FEMALE,U,NaN,3,3 SLIGHT,'-2 NOT APPLICABLE,'-2 NOT APPLICABLE,4 CAR
2,1190128300,WESTMINSTER,1,528218,180407,3,2 PASSENGER,2 FEMALE,U,NaN,3,3 SLIGHT,'-2 NOT APPLICABLE,'-2 NOT APPLICABLE,4 CAR
3,1190152270,LAMBETH,9,530219,172463,1,1 DRIVER/RIDER,2 FEMALE,16-24,24.0,1,3 SLIGHT,'-2 NOT APPLICABLE,'-2 NOT APPLICABLE,4 CAR
4,1190155191,CAMDEN,2,530222,182543,1,2 PASSENGER,2 FEMALE,16-24,21.0,1,3 SLIGHT,'-2 NOT APPLICABLE,'-2 NOT APPLICABLE,2 PEDAL CYCLE

(30007, 15)
https://content.tfl.gov.uk/2019-gla-data-extract-vehicle.csv

,2019 data shows Private Hire and Taxi as two separate vehicle types. It may be that insufficient details are available at the time of recording and it has been assumed by the reporter that vehicle type is a private car rather than one for hire. TfL intends to link collision vehicle registration details to the Taxi Private Hire database to ensure consistent recording.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AREFNO,Borough,Boro,Easting,Northing,Vehicle ref,Vehicle Type,Vehicle Type (Banded),Vehicle Manoeuvres,Vehicle Skidding,Restricted Lane,Junction Location,Object in C/W,Veh Leave C/W,Veh. Off C/W,Veh. Impact,Journey Purpose,Driver Sex,Driver Age,Driver Age (Banded)
2,1190128300,WESTMINSTER,1,528218,180407,1,09 CAR,3 CAR,99 UNKNOWN (S/R),9 UNKNOWN (S/R),99 UNKNOWN (S/R),9 UNKNOWN (S/R),99 UNKNOWN (S/R),9 UNKNOWN (S/R),99 UNKNOWN (S/R),4 N/S HIT FIRST,5 OTHER/NOT KNOWN,1 MALE,58,35-64
3,1190128300,WESTMINSTER,1,528218,180407,2,09 CAR,3 CAR,99 UNKNOWN (S/R),9 UNKNOWN (S/R),99 UNKNOWN (S/R),9 UNKNOWN (S/R),99 UNKNOWN (S/R),9 UNKNOWN (S/R),99 UNKNOWN (S/R),9 UNKNOWN (S/R),6 UNKNOWN,3 NOT TRACED,NaN,UNKNOWN
4,1190152270,LAMBETH,9,530219,172463,1,09 CAR,3 CAR,18 GOING AHEAD OTHER,9 UNKNOWN (S/R),99 UNKNOWN (S/R),0 NOT AT JCT,99 UNKNOWN (S/R),9 UNKNOWN (S/R),99 UNKNOWN (S/R),1 FRONT HIT FIRST,5 OTHER/NOT KNOWN,2 FEMALE,24,17-24

(45655, 20)
https://content.tfl.gov.uk/2018-data-vehicle.csv

,Accident Ref.,Borough,Boro,Easting,Northing,Vehicle Ref.,Vehicle Type,Vehicle Type (Banded),Vehicle Manoeuvres,Vehicle Skidding,...,Junction Location,Object in C/W,Veh. Leaving C/W,Veh. off C/W,Veh. Impact,VJNYPURP DECODED,Driver Sex,Driver Age,Driver Age (Banded),
0,1180080971,CAMDEN,2,529150,182270,1,09 Car,3 Car,18 Going Ahead Other,0 No Skidding/Overturn,...,0 Not At Jct,00 None,0 Did Not Leave,00 None,1 Front Hit First,5 Other/Not Known,1 Male,32,25-34,
1,1180080971,CAMDEN,2,529150,182270,2,08 Private Hire,4 Taxi,18 Going Ahead Other,0 No Skidding/Overturn,...,0 Not At Jct,00 None,0 Did Not Leave,00 None,2 Back Hit First,5 Other/Not Known,1 Male,48,35-64,
2,1180080973,NEWHAM,17,542029,184291,1,09 Car,3 Car,18 Going Ahead Other,0 No Skidding/Overturn,...,2 Jct Cleared,00 None,0 Did Not Leave,00 None,1 Front Hit First,5 Other/Not Known,3 Not Traced,0,Unknown,
3,1180080974,ISLINGTON,3,531720,182910,1,08 Private Hire,4 Taxi,07 Turning Left,0 No Skidding/Overturn,...,8 Jct Mid,00 None,0 Did Not Leave,00 None,1 Front Hit First,1 Jny Part of Work,1 Male,40,35-64,
4,1180080974,ISLINGTON,3,531720,182910,2,09 Car,3 Car,18 Going Ahead Other,0 No Skidding/Overturn,...,1 Jct App,00 None,3 Left Cwy Ahead At Junctn,01 Hit Rd Sign/Ats,1 Front Hit First,5 Other/Not Known,1 Male,21,17-24,

(45920, 21)
https://content.tfl.gov.uk/2018-data-files-casualty.csv

,Accident Ref.,Borough,Boro,Easting,Northing,CREFNO,Casualty Class,Casualty Sex,Casualty Age (Banded),Casualty Age,No. of Casualties,Casualty Severity,Ped. Location,Ped. Movement,Mode of Travel,
0,1180087514,CITY OF LONDON,0,533090,181120,1,3 Pedestrian,2 Female,16-24,24,1,3 Slight,06 On Footpath - Verge,9 Unknown Or Other,1 Pedestrian,
1,1180104854,CITY OF LONDON,0,533650,180200,1,1 Driver/Rider,2 Female,16-24,21,1,3 Slight,-2 Unknown,-2 N/A,4 Car,
2,1180104878,CITY OF LONDON,0,531860,181830,1,1 Driver/Rider,1 Male,25-59,32,1,3 Slight,-2 Unknown,-2 N/A,2 Pedal Cycle,
3,1180108670,CITY OF LONDON,0,531109,180810,1,1 Driver/Rider,1 Male,Unknown,0,1,3 Slight,-2 Unknown,-2 N/A,2 Pedal Cycle,
4,1180118053,CITY OF LONDON,0,533834,180877,1,1 Driver/Rider,1 Male,25-59,57,1,3 Slight,-2 Unknown,-2 N/A,2 Pedal Cycle,

(30591, 16)
https://content.tfl.gov.uk/2018-data-files-attendant.csv

,Accident Ref.,Borough,Boro,Easting,Northing,Location,Accident Severity,No. of Casualties in Acc.,No. of Vehicles in Acc.,Accident Date,...,Junction Detail,Junction Control,Road Class 2,Road No. 2,Ped. Crossing Decoded,Light Conditions (Banded),Weather,Road Surface,Special Conditions,C/W Hazard
0,1180087514,CITY OF LONDON,0,533090,181120,LEADENHALL STREET J/W WHITTINGTON AVENUE,3 Slight,1,1,01-Feb-18,...,3 T/Stag Jun,4 Give Way/Uncontrolled,C,0,9 Unknown (S/R),2 Dark,1 Fine,2 Road-Wet,0 None,9 Unknown (S/R)
1,1180104854,CITY OF LONDON,0,533650,180200,NFL TOWER BRIDGE 240M N QUEEN ELIZABETH ST,3 Slight,1,2,20-Apr-18,...,0 No Jun In 20m,-2 Not Applicable,-2 Not Applicable,0,9 Unknown (S/R),1 Daylight,1 Fine,1 Road-Dry,0 None,0 None
2,1180104878,CITY OF LONDON,0,531860,181830,BOUNDARY HOUSE J/W CHARTERHOUSE STREET,3 Slight,1,2,30-Apr-18,...,3 T/Stag Jun,9 Unknown (S/R),C,0,0 No Xing Facility In 50m,1 Daylight,2 Raining,2 Road-Wet,0 None,0 None
3,1180108670,CITY OF LONDON,0,531109,180810,NFL TEMPLE PIER VICTORIA EMBANKMENT J/W TEMPLE...,3 Slight,1,2,17-May-18,...,3 T/Stag Jun,9 Unknown (S/R),A,3211,9 Unknown (S/R),1 Daylight,8 Other,1 Road-Dry,0 None,0 None
4,1180118053,CITY OF LONDON,0,533834,180877,MANSELL STREET J/W GOODMANS YARD,3 Slight,1,2,05-May-18,...,3 T/Stag Jun,4 Give Way/Uncontrolled,A,1211,5 Pedn Phase At Ats,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None

(25637, 27)
https://content.tfl.gov.uk/2017-data-vehicle.csv

,Accident Ref.,Borough,Boro,Easting,Northing,Vehicle Ref.,Vehicle Type,Vehicle Type (Banded),Vehicle Manoeuvres,Vehicle Skidding,...,Junction Location,Object in C/W,Veh. Leaving C/W,Veh. off C/W,Veh. Impact,VJNYPURP DECODED,Driver Sex,Driver Age,Driver Age (Banded),
0,1170001708,ENFIELD,32,532920,196330,1,09 Car,3 Car,18 Going Ahead Other,0 No Skidding/Overturn,...,0 Not At Jct,00 None,0 Did Not Leave,00 None,1 Front Hit First,5 Other/Not Known,1 Male,24,17-24,
1,1170001708,ENFIELD,32,532920,196330,2,02 M/C <= 50cc,2 Powered 2 wheeler,18 Going Ahead Other,1 Skidded,...,0 Not At Jct,00 None,0 Did Not Leave,00 None,2 Back Hit First,5 Other/Not Known,1 Male,19,17-24,
2,1170009342,WESTMINSTER,1,526790,181970,1,09 Car,3 Car,18 Going Ahead Other,0 No Skidding/Overturn,...,1 Jct App,00 None,0 Did Not Leave,00 None,2 Back Hit First,5 Other/Not Known,1 Male,33,25-34,
3,1170009342,WESTMINSTER,1,526790,181970,2,09 Car,3 Car,18 Going Ahead Other,1 Skidded,...,1 Jct App,00 None,0 Did Not Leave,00 None,1 Front Hit First,5 Other/Not Known,1 Male,40,35-64,
4,1170009344,TOWER HAMLETS,5,535200,181260,1,09 Car,3 Car,18 Going Ahead Other,0 No Skidding/Overturn,...,1 Jct App,00 None,0 Did Not Leave,00 None,1 Front Hit First,5 Other/Not Known,3 Not Traced,0,Unknown,

(47552, 21)
https://content.tfl.gov.uk/2017-data-casualty.csv

,Accident Ref.,Borough,Boro,Easting,Northing,CREFNO,Casualty Class,Casualty Sex,Casualty Age (Banded),Casualty Age,No. of Casualties,Casualty Severity,Ped. Location,Ped. Movement,Mode of Travel,
0,1170014045,CITY OF LONDON,0,532780,180350,1,1 Driver/Rider,1 Male,25-59,34,1,3 Slight,-2 Unknown,-2 N/A,2 Pedal Cycle,
1,1170014113,CITY OF LONDON,0,533841,180787,1,1 Driver/Rider,2 Female,25-59,35,1,3 Slight,-2 Unknown,-2 N/A,2 Pedal Cycle,
2,1170017232,CITY OF LONDON,0,533630,181200,1,3 Pedestrian,1 Male,25-59,37,1,3 Slight,01 Crossing Road On Ped Xing,9 Unknown Or Other,1 Pedestrian,
3,1170019554,CITY OF LONDON,0,531130,181110,1,3 Pedestrian,1 Male,25-59,29,1,2 Serious,01 Crossing Road On Ped Xing,3 From Drivers O/Side,1 Pedestrian,
4,1170020053,CITY OF LONDON,0,531900,181840,1,3 Pedestrian,1 Male,25-59,36,1,2 Serious,09 In Road - Not Crossing,7 In Rd Facing Traffic,1 Pedestrian,

(32567, 16)
https://content.tfl.gov.uk/2017-data-attendant.csv

,Accident Ref.,Borough,Boro,Easting,Northing,Location,Accident Severity,No. of Casualties in Acc.,No. of Vehicles in Acc.,Accident Date,...,Junction Detail,Junction Control,Road Class 2,Road No. 2,Ped. Crossing Decoded,Light Conditions (Banded),Weather,Road Surface,Special Conditions,C/W Hazard
0,1170014045,CITY OF LONDON,0,532780,180350,LONDON BRIDGE J/W TOOLEY STREET,3 Slight,1,2,20-Jan-17,...,3 T/Stag Jun,4 Give Way/Uncontrolled,A,3,0 No Xing Facility In 50m,1 Daylight,9 Unknown,9 Unknown (S/R),0 None,0 None
1,1170014113,CITY OF LONDON,0,533841,180787,TOWER BRIDGE APPROACH J/W ROYAL MINT STREET,3 Slight,1,2,10-Jan-17,...,6 Crossroads,9 Unknown (S/R),C,0,5 Pedn Phase At Ats,2 Dark,1 Fine,1 Road-Dry,0 None,0 None
2,1170017232,CITY OF LONDON,0,533630,181200,ALDGATE HIGH STREET 46M N OF J/W MINORIES,3 Slight,1,1,26-Jan-17,...,0 No Jun In 20m,-2 Not Applicable,-2 Not Applicable,0,4 Pelican Or Similar,2 Dark,9 Unknown,9 Unknown (S/R),9 Unknown (S/R),9 Unknown (S/R)
3,1170019554,CITY OF LONDON,0,531130,181110,FLEET STREET 30M E OF J/W STRAND,2 Serious,1,1,12-Jan-17,...,0 No Jun In 20m,-2 Not Applicable,-2 Not Applicable,0,1 Zebra,2 Dark,1 Fine,1 Road-Dry,0 None,0 None
4,1170020053,CITY OF LONDON,0,531900,181840,CHARTERHOUSE STREET J/W LINDSEY STREET,2 Serious,1,1,21-Feb-17,...,3 T/Stag Jun,4 Give Way/Uncontrolled,C,0,0 No Xing Facility In 50m,2 Dark,1 Fine,1 Road-Dry,0 None,1 Vehicle Load In Cwy

(27089, 27)
https://content.tfl.gov.uk/2016-gla-data-extract-vehicle.csv

,Accident Ref.,Borough,Boro,Easting,Northing,Vehicle Ref.,Vehicle Type,Vehicle Type (Banded),Vehicle Manoeuvres,Vehicle Skidding,...,Junction Location,Object in C/W,Veh. Leaving C/W,Veh. off C/W,Veh. Impact,VJNYPURP DECODED,Driver Sex,Driver Age,Driver Age (Banded),
0,1160001090,CITY OF LONDON,0,531350,181580,1,08 Taxi,4 Taxi,04 Slowing Or Stopping,0 No Skidding/Overturn,...,0 Not At Jct,00 None,0 Did Not Leave,00 None,4 N/S Hit First,1 Jny Part of Work,1 Male,46,35-64,
1,1160002980,CITY OF LONDON,0,532780,180410,1,01 Pedal Cycle,1 Pedal cycle,13 Overtake Move Veh O/S,0 No Skidding/Overturn,...,0 Not At Jct,00 None,0 Did Not Leave,00 None,1 Front Hit First,5 Other/Not Known,3 Not Traced,0,Unknown,
2,1160002980,CITY OF LONDON,0,532780,180410,2,01 Pedal Cycle,1 Pedal cycle,14 Overtake Stat Veh O/S,0 No Skidding/Overturn,...,0 Not At Jct,00 None,0 Did Not Leave,00 None,2 Back Hit First,5 Other/Not Known,1 Male,46,35-64,
3,1160006347,CITY OF LONDON,0,531400,181570,1,09 Car,3 Car,09 Turning Right,0 No Skidding/Overturn,...,8 Jct Mid,00 None,0 Did Not Leave,00 None,1 Front Hit First,5 Other/Not Known,1 Male,22,17-24,
4,1160006347,CITY OF LONDON,0,531400,181570,2,09 Car,3 Car,05 Moving Off,0 No Skidding/Overturn,...,8 Jct Mid,00 None,0 Did Not Leave,00 None,3 O/S Hit First,5 Other/Not Known,1 Male,69,65+,

(44773, 21)
https://content.tfl.gov.uk/2016-gla-data-extract-casualty.csv

,Accident Ref.,Borough,Boro,Easting,Northing,CREFNO,Casualty Class,Casualty Sex,Casualty Age (Banded),Casualty Age,No. of Casualties,Casualty Severity,Ped. Location,Ped. Movement,Mode of Travel,
0,1160001090,CITY OF LONDON,0,531350,181580,1,3 Pedestrian,1 Male,25-59,54,1,3 Slight,09 In Road - Not Crossing,7 In Rd Facing Traffic,1 Pedestrian,
1,1160002980,CITY OF LONDON,0,532780,180410,1,1 Driver/Rider,1 Male,25-59,46,1,2 Serious,-2 Unknown,-2 N/A,2 Pedal Cycle,
2,1160006347,CITY OF LONDON,0,531400,181570,3,2 Passenger,2 Female,60+,61,1,3 Slight,-2 Unknown,-2 N/A,4 Car,
3,1160006347,CITY OF LONDON,0,531400,181570,2,1 Driver/Rider,1 Male,60+,69,1,3 Slight,-2 Unknown,-2 N/A,4 Car,
4,1160006347,CITY OF LONDON,0,531400,181570,1,1 Driver/Rider,1 Male,16-24,22,1,3 Slight,-2 Unknown,-2 N/A,4 Car,

(30270, 16)
https://content.tfl.gov.uk/2016-gla-data-extract-attendant.csv

,Accident Ref.,Borough,Boro,Easting,Northing,Location,Accident Severity,No. of Casualties in Acc.,No. of Vehicles in Acc.,Accident Date,...,Junction Detail,Junction Control,Road Class 2,Road No. 2,Ped. Crossing Decoded,Light Conditions (Banded),Weather,Road Surface,Special Conditions,C/W Hazard
0,1160001090,CITY OF LONDON,0,531350,181580,HOLBORN 21M W OF J/W HATTON GARDEN,3 Slight,1,1,11-Nov-16,...,0 No Jun In 20m,-2 Not Applicable,-2 Not Applicable,0,8 Central Refuge,2 Dark,1 Fine,1 Road-Dry,0 None,0 None
1,1160002980,CITY OF LONDON,0,532780,180410,KING WILLIAM STREET 60M N OF J/W MONTAGUE CLOSE,2 Serious,1,2,22-Nov-16,...,0 No Jun In 20m,-2 Not Applicable,-2 Not Applicable,0,0 No Xing Facility In 50m,2 Dark,1 Fine,1 Road-Dry,0 None,0 None
2,1160006347,CITY OF LONDON,0,531400,181570,HOLBORN CIRCUS J/W CHARTERHOUSE STREET,3 Slight,3,2,11-Dec-16,...,7 Multi Jun,2 Auto Sig,A,40,5 Pedn Phase At Ats,2 Dark,1 Fine,1 Road-Dry,3 Road Sign Def,0 None
3,1160006912,CITY OF LONDON,0,531290,181570,HOLBORN J/W FETTER LANE,3 Slight,1,1,25-Nov-16,...,3 T/Stag Jun,9 Unknown (S/R),C,0,9 Unknown (S/R),2 Dark,9 Unknown,9 Unknown (S/R),9 Unknown (S/R),9 Unknown (S/R)
4,1160008508,CITY OF LONDON,0,533729,181264,ALDGATE HIGH STREET J/W MIDDLESEX STREET,3 Slight,1,1,03-Dec-16,...,6 Crossroads,9 Unknown (S/R),A,11,9 Unknown (S/R),2 Dark,9 Unknown,9 Unknown (S/R),9 Unknown (S/R),9 Unknown (S/R)

(25126, 27)
https://content.tfl.gov.uk/2015-gla-data-extract-vehicle.csv

,Accident Ref.,Borough,Boro,Easting,Northing,Vehicle Ref.,Vehicle Type,Vehicle Type (Banded),Vehicle Manoeuvres,Vehicle Skidding,...,Junction Location,Object in C/W,Veh. Leaving C/W,Veh. off C/W,Veh. Impact,VJNYPURP DECODED,Driver Sex,Driver Age,Driver Age (Banded),
0,1150030969,CITY OF LONDON,0,531850,181710,1,01 Pedal Cycle,1 Pedal cycle,18 Going Ahead Other,0 No Skidding/Overturn,...,8 Jct Mid,00 None,0 Did Not Leave,00 None,3 O/S Hit First,2 Comm To/From Work,1 Male,33,25-34,
1,1150030969,CITY OF LONDON,0,531850,181710,2,20 Gds 3.5-7.5t,7 Goods vehicles,07 Turning Left,0 No Skidding/Overturn,...,8 Jct Mid,00 None,0 Did Not Leave,00 None,4 N/S Hit First,1 Jny Part of Work,1 Male,43,35-64,
2,1150030972,CITY OF LONDON,0,532810,180870,1,09 Car,3 Car,18 Going Ahead Other,0 No Skidding/Overturn,...,2 Jct Cleared,00 None,0 Did Not Leave,00 None,1 Front Hit First,5 Other/Not Known,3 Not Traced,0,Unknown,
3,1150030975,CITY OF LONDON,0,533245,181510,1,03 M/C 50-125cc,2 Powered 2 wheeler,18 Going Ahead Other,0 No Skidding/Overturn,...,2 Jct Cleared,00 None,0 Did Not Leave,00 None,4 N/S Hit First,5 Other/Not Known,1 Male,34,25-34,
4,1150030975,CITY OF LONDON,0,533245,181510,2,05 M/C > 500cc,2 Powered 2 wheeler,18 Going Ahead Other,0 No Skidding/Overturn,...,2 Jct Cleared,00 None,0 Did Not Leave,00 None,3 O/S Hit First,5 Other/Not Known,1 Male,52,35-64,

(44978, 21)
https://content.tfl.gov.uk/2015-gla-data-extract-casualty.csv

,Accident Ref.,Borough,Boro,Easting,Northing,CREFNO,Casualty Class,Casualty Sex,Casualty Age (Banded),Casualty Age,No. of Casualties,Casualty Severity,Ped. Location,Ped. Movement,Mode of Travel,
0,1150030969,CITY OF LONDON,0,531850,181710,1,1 Driver/Rider,1 Male,25-59,33,1,3 Slight,-2 Unknown,-2 N/A,2 Pedal Cycle,
1,1150030972,CITY OF LONDON,0,532810,180870,1,3 Pedestrian,1 Male,25-59,57,1,3 Slight,01 Crossing Road On Ped Xing,1 From Drivers N/Side,1 Pedestrian,
2,1150030975,CITY OF LONDON,0,533245,181510,1,1 Driver/Rider,1 Male,25-59,34,1,2 Serious,-2 Unknown,-2 N/A,3 Powered 2 Wheeler,
3,1150031496,CITY OF LONDON,0,531780,181500,1,3 Pedestrian,2 Female,25-59,56,1,3 Slight,05 Crossing Road (Not On Xing),3 From Drivers O/Side,1 Pedestrian,
4,1150031510,CITY OF LONDON,0,533060,181437,1,1 Driver/Rider,2 Female,25-59,25,1,3 Slight,-2 Unknown,-2 N/A,2 Pedal Cycle,

(30182, 16)
https://content.tfl.gov.uk/2015-gla-data-extract-attendant.csv

,Accident Ref.,Borough,Boro,Easting,Northing,Location,Accident Severity,No. of Casualties in Acc.,No. of Vehicles in Acc.,Accident Date,...,Junction Detail,Junction Control,Road Class 2,Road No. 2,Ped. Crossing Decoded,Light Conditions (Banded),Weather,Road Surface,Special Conditions,C/W Hazard
0,1150030969,CITY OF LONDON,0,531850,181710,LONG LANE J/W WEST SMITHFIELD,3 Slight,1,2,15-Oct-15,...,3 T/Stag Jun,4 Give Way/Uncontrolled,C,0,4 Pelican Or Similar,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None
1,1150030972,CITY OF LONDON,0,532810,180870,122 CANNON STREET J/W KING WILLIAM STREET,3 Slight,1,1,16-Oct-15,...,6 Crossroads,2 Auto Sig,C,0,5 Pedn Phase At Ats,2 Dark,1 Fine,1 Road-Dry,0 None,0 None
2,1150030975,CITY OF LONDON,0,533245,181510,BISHOPSGATE J/W LIVERPOOL STREET,2 Serious,1,2,20-Oct-15,...,3 T/Stag Jun,2 Auto Sig,C,0,5 Pedn Phase At Ats,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None
3,1150031496,CITY OF LONDON,0,531780,181500,LONDON WALL 5 METRES WORMWOOD STREET,3 Slight,1,1,29-Oct-15,...,9 Other Jun,2 Auto Sig,Unclassified,0,4 Pelican Or Similar,1 Daylight,9 Unknown,2 Road-Wet,0 None,0 None
4,1150031510,CITY OF LONDON,0,533060,181437,OLD BROAD STREET 10 METRES SOUTH OF JUNCTION ...,3 Slight,1,2,30-Oct-15,...,6 Crossroads,2 Auto Sig,C,0,5 Pedn Phase At Ats,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None

(25193, 27)
https://content.tfl.gov.uk/2014-gla-data-extract-vehicle.csv

,AREFNO,Borough,Boro,Easting,Northing,Vehicle Ref.,Vehicle Type,Vehicle Type (Banded),Vehicle Manoeuvres,Vehicle Skidding,...,Junction Location,Object in C/W,Veh. Leaving C/W,Veh. off C/W,Veh. Impact,VJNYPURP DECODED,Driver Sex,Driver Age,Driver Age (Banded),
0,0114CP00001,CITY OF LONDON,0,533540,181230,1,08 Taxi,4 Taxi,18 Going Ahead Other,0 No Skidding/Overturn,...,1 Jct App,00 None,0 Did Not Leave,00 None,1 Front Hit First,5 Other/Not Known,1 Male,55,35-64,
1,0114CP00002,CITY OF LONDON,0,532680,181430,1,21 Gds => 7.5t,7 Goods vehicles,01 Reversing,0 No Skidding/Overturn,...,8 Jct Mid,00 None,0 Did Not Leave,00 None,2 Back Hit First,5 Other/Not Known,3 Not Traced,0,Unknown,
2,0114CP00003,CITY OF LONDON,0,532090,181830,1,09 Car,3 Car,18 Going Ahead Other,0 No Skidding/Overturn,...,8 Jct Mid,00 None,0 Did Not Leave,00 None,1 Front Hit First,2 Comm To/From Work,1 Male,57,35-64,
3,0114CP00004,CITY OF LONDON,0,531770,180950,1,09 Car,3 Car,18 Going Ahead Other,0 No Skidding/Overturn,...,1 Jct App,00 None,0 Did Not Leave,00 None,3 O/S Hit First,1 Jny Part of Work,1 Male,45,35-64,
4,0114CP00004,CITY OF LONDON,0,531770,180950,2,03 M/C 50-125cc,2 Powered 2 wheeler,13 Overtake Move Veh O/S,0 No Skidding/Overturn,...,1 Jct App,00 None,0 Did Not Leave,00 None,4 N/S Hit First,2 Comm To/From Work,1 Male,33,25-34,

(46074, 21)
https://content.tfl.gov.uk/2014-gla-data-extract-casualty.csv

,AREFNO,Borough,Boro,Easting,Northing,CREFNO,Casualty Class,Casualty Sex,Casualty Age (Banded),Casualty Age,No. of Casualties,Casualty Severity,Ped. Location,Ped. Movement,Mode of Travel,
0,0114CP00001,CITY OF LONDON,0,533540,181230,1,3 Pedestrian,1 Male,25-59,29,1,3 Slight,05 Crossing Road (Not On Xing),9 Unknown Or Other,1 Pedestrian,
1,0114CP00002,CITY OF LONDON,0,532680,181430,1,3 Pedestrian,1 Male,25-59,48,1,3 Slight,05 Crossing Road (Not On Xing),9 Unknown Or Other,1 Pedestrian,
2,0114CP00003,CITY OF LONDON,0,532090,181830,1,3 Pedestrian,1 Male,Unknown,0,1,2 Serious,01 Crossing Road On Ped Xing,3 From Drivers O/Side,1 Pedestrian,
3,0114CP00004,CITY OF LONDON,0,531770,180950,1,1 Driver/Rider,1 Male,25-59,33,1,2 Serious,-2 Unknown,-2 N/A,3 Powered 2 Wheeler,
4,0114CP00005,CITY OF LONDON,0,533130,180920,1,3 Pedestrian,1 Male,25-59,31,1,3 Slight,06 On Footpath - Verge,9 Unknown Or Other,1 Pedestrian,

(30785, 16)
https://content.tfl.gov.uk/2014-gla-data-extract-attendant.csv

,AREFNO,Borough,Boro,Easting,Northing,Location,Accident Severity,No. of Casualties in Acc.,No. of Vehicles in Acc.,Accident Date,...,Junction Detail,Junction Control,Road Class 2,Road No. 2,Ped. Crossing Decoded,Light Conditions (Banded),Weather,Road Surface,Special Conditions,C/W Hazard
0,0114CP00001,CITY OF LONDON,0,533540,181230,ST BOTOLPH STREET J/W HOUNDSDITCH,3 Slight,1,1,01-Jan-14,...,3 T/Stag Jun,4 Give Way/Uncontrolled,A,1211,0 No Xing Facility In 50m,2 Dark,1 Fine,2 Road-Wet,0 None,0 None
1,0114CP00002,CITY OF LONDON,0,532680,181430,MOORGATE J/W GREAT SWAN ALLEY,3 Slight,1,1,08-Jan-14,...,3 T/Stag Jun,4 Give Way/Uncontrolled,C,0,0 No Xing Facility In 50m,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None
2,0114CP00003,CITY OF LONDON,0,532090,181830,ALDERGATE STREET J/W LONG LANE,2 Serious,1,1,09-Jan-14,...,3 T/Stag Jun,2 Auto Sig,C,0,5 Pedn Phase At Ats,2 Dark,1 Fine,1 Road-Dry,0 None,0 None
3,0114CP00004,CITY OF LONDON,0,531770,180950,QUEEN VICTORIA STREET J/W PUDDLE DOCK,2 Serious,1,2,08-Jan-14,...,3 T/Stag Jun,2 Auto Sig,C,0,5 Pedn Phase At Ats,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None
4,0114CP00005,CITY OF LONDON,0,533130,180920,FENCHURCH STREET J/W ROOD LANE,3 Slight,1,1,15-Jan-14,...,3 T/Stag Jun,4 Give Way/Uncontrolled,C,0,0 No Xing Facility In 50m,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None

(25992, 27)
https://content.tfl.gov.uk/2013-gla-data-extract-vehicle.csv

,AREFNO,Borough,Boro,Easting,Northing,Vehicle Ref.,Vehicle Type,Vehicle Type (Banded),Vehicle Manoeuvres,Vehicle Skidding,...,Junction Location,Object in C/W,Veh. Leaving C/W,Veh. off C/W,Veh. Impact,VJNYPURP DECODED,Driver Sex,Driver Age,Driver Age (Banded),
0,0113CP00001,CITY OF LONDON,0,531630,180790,1,04 M/C 125-500cc,2 Powered 2 wheeler,18 Going Ahead Other,0 No Skidding/Overturn,...,0 Not At Jct,00 None,0 Did Not Leave,00 None,3 O/S Hit First,5 Other/Not Known,1 Male,52,35-64,
1,0113CP00001,CITY OF LONDON,0,531630,180790,2,09 Car,3 Car,11 Change Lane To Left,0 No Skidding/Overturn,...,0 Not At Jct,00 None,0 Did Not Leave,00 None,4 N/S Hit First,5 Other/Not Known,3 Not Traced,0,Unknown,
2,0113CP00002,CITY OF LONDON,0,531910,181110,1,11 Bus/Coach,6 Bus/coach excldng minibus,18 Going Ahead Other,0 No Skidding/Overturn,...,2 Jct Cleared,00 None,0 Did Not Leave,00 None,4 N/S Hit First,5 Other/Not Known,1 Male,31,25-34,
3,0113CP00003,CITY OF LONDON,0,531780,180830,1,09 Car,3 Car,18 Going Ahead Other,0 No Skidding/Overturn,...,8 Jct Mid,00 None,0 Did Not Leave,00 None,3 O/S Hit First,5 Other/Not Known,1 Male,30,25-34,
4,0113CP00003,CITY OF LONDON,0,531780,180830,2,01 Pedal Cycle,1 Pedal cycle,09 Turning Right,0 No Skidding/Overturn,...,8 Jct Mid,00 None,0 Did Not Leave,00 None,1 Front Hit First,5 Other/Not Known,1 Male,26,25-34,

(40899, 21)
https://content.tfl.gov.uk/2013-gla-data-extract-casualty.csv

,AREFNO,Borough,Boro,Easting,Northing,CREFNO,Casualty Class,Casualty Sex,Casualty Age (Banded),Casualty Age,No. of Casualties,Casualty Severity,Ped. Location,Ped. Movement,Mode of Travel,
0,0113CP00001,CITY OF LONDON,0,531630,180790,1,1 Driver/Rider,1 Male,25-59,52,1,3 Slight,-2 Unknown,-2 N/A,3 Powered 2 Wheeler,
1,0113CP00002,CITY OF LONDON,0,531910,181110,1,3 Pedestrian,1 Male,25-59,36,1,3 Slight,01 Crossing Road On Ped Xing,3 From Drivers O/Side,1 Pedestrian,
2,0113CP00003,CITY OF LONDON,0,531780,180830,1,1 Driver/Rider,1 Male,25-59,26,1,3 Slight,-2 Unknown,-2 N/A,2 Pedal Cycle,
3,0113CP00005,CITY OF LONDON,0,532890,180990,1,3 Pedestrian,2 Female,16-24,24,1,3 Slight,05 Crossing Road (Not On Xing),1 From Drivers N/Side,1 Pedestrian,
4,0113CP00006,CITY OF LONDON,0,533280,181590,1,3 Pedestrian,2 Female,16-24,23,1,2 Serious,09 In Road - Not Crossing,6 In Rd Not Crossing Msk,1 Pedestrian,

(27199, 16)
https://content.tfl.gov.uk/2013-gla-data-extract-attendant.csv

,AREFNO,Borough,Boro,Easting,Northing,Location,Accident Severity,No. of Casualties in Acc.,No. of Vehicles in Acc.,Accident Date,...,Junction Detail,Junction Control,Road Class 2,Road No. 2,Ped. Crossing Decoded,Light Conditions (Banded),Weather,Road Surface,Special Conditions,C/W Hazard
0,0113CP00001,CITY OF LONDON,0,531630,180790,BALCKFRIARS BRIDGE 30M S OF J/W VICTORIA EMBAN...,3 Slight,1,2,02-Jan-13,...,0 No Jun In 20m,-2 Not Applicable,-2 Not Applicable,0,0 No Xing Facility In 50m,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None
1,0113CP00002,CITY OF LONDON,0,531910,181110,ST PAUL'S CHURCH YARD J/W DEAN'S COURT,3 Slight,1,1,04-Jan-13,...,3 T/Stag Jun,4 Give Way/Uncontrolled,Unclassified,0,1 Zebra,2 Dark,1 Fine,1 Road-Dry,0 None,0 None
2,0113CP00003,CITY OF LONDON,0,531780,180830,UPPER THAMES STREET J/W PUDDLE DOCK ROAD,3 Slight,1,2,05-Jan-13,...,3 T/Stag Jun,2 Auto Sig,A,3211,0 No Xing Facility In 50m,2 Dark,1 Fine,1 Road-Dry,0 None,0 None
3,0113CP00005,CITY OF LONDON,0,532890,180990,LOMBARD STREET J/W CLEMNT'S LANE,3 Slight,1,1,11-Jan-13,...,3 T/Stag Jun,4 Give Way/Uncontrolled,C,0,0 No Xing Facility In 50m,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None
4,0113CP00006,CITY OF LONDON,0,533280,181590,BISHOPSGATE J/W NEW STREET,2 Serious,1,1,20-Jan-13,...,3 T/Stag Jun,2 Auto Sig,Unclassified,0,5 Pedn Phase At Ats,1 Daylight,3 Snowing,3 Road-Snow,0 None,0 None

(23066, 27)
https://content.tfl.gov.uk/2012-gla-data-extract-vehicle.csv

,AREFNO,Borough,Boro,Easting,Northing,Vehicle Ref.,Vehicle Type,Vehicle Type (Banded),Vehicle Manoeuvres,Vehicle Skidding,...,Junction Location,Object in C/W,Veh. Leaving C/W,Veh. off C/W,Veh. Impact,VJNYPURP DECODED,Driver Sex,Driver Age,Driver Age (Banded),
0,0112CP00001,CITY OF LONDON,0,533390,180710,1,03 M/C 50-125cc,2 Powered 2 wheeler,18 Going Ahead Other,0 No Skidding/Overturn,...,0 Not At Jct,00 None,7 Left Cwy Offside,01 Hit Rd Sign/Ats,3 O/S Hit First,5 Other/Not Known,1 Male,23,17-24,
1,0112CP00002,CITY OF LONDON,0,531620,181690,1,09 Car,3 Car,09 Turning Right,0 No Skidding/Overturn,...,6 Entering Main Rd,00 None,0 Did Not Leave,00 None,3 O/S Hit First,5 Other/Not Known,1 Male,41,35-64,
2,0112CP00002,CITY OF LONDON,0,531620,181690,2,01 Pedal Cycle,1 Pedal cycle,18 Going Ahead Other,0 No Skidding/Overturn,...,8 Jct Mid,00 None,0 Did Not Leave,00 None,1 Front Hit First,5 Other/Not Known,1 Male,0,Unknown,
3,0112CP00003,CITY OF LONDON,0,532660,181310,1,08 Taxi,4 Taxi,05 Moving Off,0 No Skidding/Overturn,...,2 Jct Cleared,00 None,0 Did Not Leave,00 None,4 N/S Hit First,5 Other/Not Known,3 Not Traced,0,Unknown,
4,0112CP00004,CITY OF LONDON,0,532340,180990,1,11 Bus/Coach,6 Bus/coach excldng minibus,18 Going Ahead Other,0 No Skidding/Overturn,...,2 Jct Cleared,00 None,0 Did Not Leave,00 None,0 Did Not Impact,1 Jny Part of Work,1 Male,44,35-64,

(43056, 21)
https://content.tfl.gov.uk/2012-gla-data-extract-casualty.csv

,AREFNO,Borough,Boro,Easting,Northing,CREFNO,Casualty Class,Casualty Sex,Casualty Age (Banded),Casualty Age,No. of Casualties,Casualty Severity,Ped. Location,Ped. Movement,Mode of Travel,
0,0112CP00001,CITY OF LONDON,0,533390,180710,1,1 Driver/Rider,1 Male,16-24,23,1,2 Serious,-2 Unknown,-2 N/A,3 Powered 2 Wheeler,
1,0112CP00002,CITY OF LONDON,0,531620,181690,1,1 Driver/Rider,1 Male,Unknown,0,1,3 Slight,-2 Unknown,-2 N/A,2 Pedal Cycle,
2,0112CP00003,CITY OF LONDON,0,532660,181310,1,3 Pedestrian,1 Male,25-59,37,1,3 Slight,10 Unknown,9 Unknown Or Other,1 Pedestrian,
3,0112CP00004,CITY OF LONDON,0,532340,180990,1,2 Passenger,2 Female,16-24,21,1,3 Slight,-2 Unknown,-2 N/A,6 Bus Or Coach,
4,0112CP00005,CITY OF LONDON,0,533380,181920,1,1 Driver/Rider,1 Male,25-59,53,1,3 Slight,-2 Unknown,-2 N/A,5 Taxi,

(28780, 16)
https://content.tfl.gov.uk/2012-gla-data-extract-attendant.csv

,AREFNO,Borough,Boro,Easting,Northing,Location,Accident Severity,No. of Casualties in Acc.,No. of Vehicles in Acc.,Accident Date,...,Junction Detail,Junction Control,Road Class 2,Road No. 2,Ped. Crossing Decoded,Light Conditions (Banded),Weather,Road Surface,Special Conditions,C/W Hazard
0,0112CP00001,CITY OF LONDON,0,533390,180710,BYWARD STREET 50M W OF J/W TRINITY SQUARE,2 Serious,1,1,03-Jan-12,...,0 No Jun In 20m,-2 Not Applicable,Not Applicable,0,0 No Xing Facility In 50m,1 Daylight,1 Fine,2 Road-Wet,0 None,0 None
1,0112CP00002,CITY OF LONDON,0,531620,181690,CHARTERHOUSE STREET J/W WEST POULTRY AVENUE,3 Slight,1,2,30-Jan-12,...,3 T/Stag Jun,4 Give Way/Uncontrolled,C,0,0 No Xing Facility In 50m,1 Daylight,9 Unknown,1 Road-Dry,0 None,0 None
2,0112CP00003,CITY OF LONDON,0,532660,181310,MOORGATE J/W KING'S ARMS YARD,3 Slight,1,1,26-Jan-12,...,6 Crossroads,4 Give Way/Uncontrolled,Unclassified,0,0 No Xing Facility In 50m,2 Dark,1 Fine,2 Road-Wet,0 None,0 None
3,0112CP00004,CITY OF LONDON,0,532340,180990,CANNON STREET J/W QUEEN VICTORIA STREET,3 Slight,1,1,25-Jan-12,...,7 Multi Jun,2 Auto Sig,C,0,5 Pedn Phase At Ats,2 Dark,1 Fine,1 Road-Dry,0 None,0 None
4,0112CP00005,CITY OF LONDON,0,533380,181920,PRIMROSE STREET J/W BISHOPSGATE,3 Slight,2,2,25-Jan-12,...,6 Crossroads,2 Auto Sig,A,10,5 Pedn Phase At Ats,2 Dark,8 Other,2 Road-Wet,0 None,0 None

(24059, 27)
https://content.tfl.gov.uk/2011-gla-data-extract-vehicle.csv

,AREFNO,Borough,Boro,Easting,Northing,Vehicle Ref.,Vehicle Type,Vehicle Type (Banded),Vehicle Manoeuvres,Vehicle Skidding,...,Junction Location,Object in C/W,Veh. Leaving C/W,Veh. off C/W,Veh. Impact,VJNYPURP DECODED,Driver Sex,Driver Age,Driver Age (Banded),
0,0111CP00001,CITY OF LONDON,0,532740,181040,1,05 M/C > 500cc,2 Powered 2 wheeler,05 Moving Off,0 No Skidding/Overturn,...,2 Jct Cleared,00 None,0 Did Not Leave,00 None,1 Front Hit First,2 Comm To/From Work,2 Female,32,25-34,
1,0111CP00001,CITY OF LONDON,0,532740,181040,2,19 Gds =< 3.5t,7 Goods vehicles,05 Moving Off,0 No Skidding/Overturn,...,2 Jct Cleared,00 None,0 Did Not Leave,00 None,4 N/S Hit First,1 Jny Part of Work,1 Male,38,35-64,
2,0111CP00002,CITY OF LONDON,0,532100,181890,1,09 Car,3 Car,18 Going Ahead Other,0 No Skidding/Overturn,...,0 Not At Jct,00 None,0 Did Not Leave,00 None,1 Front Hit First,5 Other/Not Known,2 Female,22,17-24,
3,0111CP00003,CITY OF LONDON,0,533560,181150,1,09 Car,3 Car,18 Going Ahead Other,0 No Skidding/Overturn,...,1 Jct App,00 None,0 Did Not Leave,00 None,1 Front Hit First,1 Jny Part of Work,1 Male,48,35-64,
4,0111CP00004,CITY OF LONDON,0,533280,181600,1,08 Taxi,4 Taxi,06 U-Turning,0 No Skidding/Overturn,...,8 Jct Mid,00 None,0 Did Not Leave,00 None,4 N/S Hit First,1 Jny Part of Work,1 Male,54,35-64,

(43445, 21)
https://content.tfl.gov.uk/2011-gla-data-extract-casualty.csv

,AREFNO,Borough,Boro,Easting,Northing,CREFNO,Casualty Class,Casualty Sex,Casualty Age (Banded),Casualty Age,No. of Casualties,Casualty Severity,Ped. Location,Ped. Movement,Mode of Travel,
0,0111CP00001,CITY OF LONDON,0,532740,181040,1,1 Driver/Rider,2 Female,25-59,32,1,2 Serious,-2 Unknown,-2 N/A,3 Powered 2 Wheeler,
1,0111CP00001,CITY OF LONDON,0,532740,181040,2,3 Pedestrian,1 Male,25-59,38,1,3 Slight,01 Crossing Road On Ped Xing,4 From Drivers O/Side Msk,1 Pedestrian,
2,0111CP00002,CITY OF LONDON,0,532100,181890,1,3 Pedestrian,1 Male,25-59,28,1,3 Slight,05 Crossing Road (Not On Xing),2 From Drivers N/Side Msk,1 Pedestrian,
3,0111CP00003,CITY OF LONDON,0,533560,181150,1,3 Pedestrian,2 Female,25-59,27,1,3 Slight,04 Crossing Road Within 50m Xing,1 From Drivers N/Side,1 Pedestrian,
4,0111CP00004,CITY OF LONDON,0,533280,181600,1,1 Driver/Rider,1 Male,25-59,54,1,3 Slight,-2 Unknown,-2 N/A,5 Taxi,

(29257, 16)
https://content.tfl.gov.uk/2011-gla-data-extract-attendant.csv

,AREFNO,Borough,Boro,Easting,Northing,Location,Accident Severity,No. of Casualties in Acc.,No. of Vehicles in Acc.,Accident Date,...,Junction Detail,Junction Control,Road Class 2,Road No. 2,Ped. Crossing Decoded,Light Conditions (Banded),Weather,Road Surface,Special Conditions,C/W Hazard
0,0111CP00001,CITY OF LONDON,0,532740,181040,KING WILLIAM STREET J/W LOMBARD STREET.,2 Serious,2,2,07-Jan-11,...,6 Crossroads,2 Auto Sig,C,0,5 Pedn Phase At Ats,1 Daylight,2 Raining,2 Road-Wet,0 None,0 None
1,0111CP00002,CITY OF LONDON,0,532100,181890,ALDERSGATE STREET 50 METRES NORTH J/W BEECH ST...,3 Slight,1,1,06-Jan-11,...,0 No Jun In 20m,-2 Not Applicable,-2 Not Applicable,0,0 No Xing Facility In 50m,1 Daylight,2 Raining,2 Road-Wet,0 None,0 None
2,0111CP00003,CITY OF LONDON,0,533560,181150,ALDGATE J/W JEWRY STREET.,3 Slight,1,1,10-Jan-11,...,3 T/Stag Jun,4 Give Way/Uncontrolled,C,0,4 Pelican Or Similar,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None
3,0111CP00004,CITY OF LONDON,0,533280,181600,BISHOPSGATE J/W NEW STREET.,3 Slight,1,2,09-Jan-11,...,3 T/Stag Jun,2 Auto Sig,Unclassified,0,5 Pedn Phase At Ats,2 Dark,1 Fine,1 Road-Dry,0 None,0 None
4,0111CP00005,CITY OF LONDON,0,532660,181330,MOORGATE J/W KING'S ARM YARD.,3 Slight,1,1,10-Jan-11,...,6 Crossroads,4 Give Way/Uncontrolled,Unclassified,0,0 No Xing Facility In 50m,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None

(24443, 27)

In [5]:
# test random
pd.read_csv('../data/raw-data/collisions-2014.csv').head()

,AREFNO,Borough,Boro,Easting,Northing,Location,Accident Severity,No. of Casualties in Acc.,No. of Vehicles in Acc.,Accident Date,...,Junction Detail,Junction Control,Road Class 2,Road No. 2,Ped. Crossing Decoded,Light Conditions (Banded),Weather,Road Surface,Special Conditions,C/W Hazard
0,0114CP00001,CITY OF LONDON,0,533540,181230,ST BOTOLPH STREET J/W HOUNDSDITCH,3 Slight,1,1,01-Jan-14,...,3 T/Stag Jun,4 Give Way/Uncontrolled,A,1211,0 No Xing Facility In 50m,2 Dark,1 Fine,2 Road-Wet,0 None,0 None
1,0114CP00002,CITY OF LONDON,0,532680,181430,MOORGATE J/W GREAT SWAN ALLEY,3 Slight,1,1,08-Jan-14,...,3 T/Stag Jun,4 Give Way/Uncontrolled,C,0,0 No Xing Facility In 50m,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None
2,0114CP00003,CITY OF LONDON,0,532090,181830,ALDERGATE STREET J/W LONG LANE,2 Serious,1,1,09-Jan-14,...,3 T/Stag Jun,2 Auto Sig,C,0,5 Pedn Phase At Ats,2 Dark,1 Fine,1 Road-Dry,0 None,0 None
3,0114CP00004,CITY OF LONDON,0,531770,180950,QUEEN VICTORIA STREET J/W PUDDLE DOCK,2 Serious,1,2,08-Jan-14,...,3 T/Stag Jun,2 Auto Sig,C,0,5 Pedn Phase At Ats,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None
4,0114CP00005,CITY OF LONDON,0,533130,180920,FENCHURCH STREET J/W ROOD LANE,3 Slight,1,1,15-Jan-14,...,3 T/Stag Jun,4 Give Way/Uncontrolled,C,0,0 No Xing Facility In 50m,1 Daylight,1 Fine,1 Road-Dry,0 None,0 None

In [163]:
def extract_columns(df, schema):
    inverse_schema = {}
    for key, val in collision_schema.items():
        for v in val:
            inverse_schema[v] = key
        
    df = df.rename(columns=inverse_schema)
    columns = schema.keys()
    return df[columns]


def format_column_names(df):
    cols = []
    for col in df.columns:
        col = col.strip() # strip trailing spaces
        col = col.lower()
        col = col.lstrip('_')  # string underscores infront of col name
        col = re.sub(r'[^\w\s]', '', col)  # remove punctuation
        col = col.replace(' ', '_')  # replace spaces between words w/ underscores
        cols.append(col)
    df.columns = cols
    return df


def format_severity(severity):
    severity = severity.lower()
    if 'slight' in severity:
        return 'slight'
    elif 'serious' in severity:
        return 'serious'
    elif 'fatal' in severity:
        return 'fatal'
    else:
        return severity
    
    
def format_time(time):
    """
    Format time if in format '0731 (rather than 07:31)
    """
    if time[0] == "'":
        time = f'{time[1:3]}:{time[3:]}'
    
    return time

In [166]:
collision_files = [f for f in os.listdir('../data/raw-data/') if 'collision' in f]
collision_schema = params['collision_columns']

dfs = []
for file in collision_files:
    n = 0
    cols = ['Unnamed:']
    while len([c for c in cols if 'Unnamed:' in c]) > 0:
        df = pd.read_csv(f'../data/raw-data/{file}', skiprows=n)
        cols = df.columns
        n += 1
        
    df = format_column_names(df)
    df = extract_columns(df, collision_schema)
    
    df['collision_severity'] = df['collision_severity'].apply(format_severity)
    
    df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True, dayfirst=True)
    
    df['time'] = df['time'].apply(format_time)
    df['time'] = pd.to_datetime(df['time']).dt.time
    
    for col in ['borough', 'location']:
        df[col] = df[col].apply(lambda x: x.upper())
    
    dfs.append(df)
    
    
collisions = pd.concat(dfs)
del dfs

collisions.shape

(270046, 8)

In [167]:
collisions.head()

,collision_index,borough,easting,northing,location,collision_severity,date,time
0,1150030969,CITY OF LONDON,531850,181710,LONG LANE J/W WEST SMITHFIELD,slight,2015-10-15,07:31:00
1,1150030972,CITY OF LONDON,532810,180870,122 CANNON STREET J/W KING WILLIAM STREET,slight,2015-10-16,20:15:00
2,1150030975,CITY OF LONDON,533245,181510,BISHOPSGATE J/W LIVERPOOL STREET,serious,2015-10-20,15:26:00
3,1150031496,CITY OF LONDON,531780,181500,LONDON WALL 5 METRES WORMWOOD STREET,slight,2015-10-29,16:09:00
4,1150031510,CITY OF LONDON,533060,181437,OLD BROAD STREET 10 METRES SOUTH OF JUNCTION ...,slight,2015-10-30,08:50:00